.task{
    margin: 2rem 0 0;
    padding:2rem;
    box-shadow: 0 0 35px rgba(255, 0, 245);
    background-color: rgb(175, 77, 182);
    width: fit-content;
    display: inline-block;
    border-radius: 20px;
    transition: transform 0.5s;
}

.task:hover {
    transform: scale(1.1);
  }

.task-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; 
  }