:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-family: Arial, Helvetica, sans-serif;
  background-color: #464545;
}

.contents-all{
  background-color: #464545;
  color: white;
  padding-bottom: auto;
}

.btn-b1{
  margin-right: 3rem;
}